<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gr.aueb.cs.hci.launcher">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:clearTaskOnLaunch="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:launchMode="singleTask"
        android:stateNotNeeded="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true">
        <activity
            android:name=".MainActivity"
            android:excludeFromRecents="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Contacts"
            android:label="@string/title_activity_contacts" />
        <activity
            android:name=".Tools"
            android:label="@string/title_activity_tools" />
        <activity
            android:name=".Games"
            android:label="@string/title_activity_games" />
        <activity
            android:name=".Browser.Internet"
            android:label="@string/title_activity_internet" />
        <activity
            android:name=".Setup.Wizard"
            android:label="@string/title_activity_wizard" />
        <activity android:name=".Browser.LoadedSiteActivity" />
        <activity android:name=".Setup.WizardPage1" />
        <activity android:name=".Setup.WizardPage2" />
        <activity android:name=".Setup.WizardPage0" />
        <activity android:name=".Setup.WizardPage3"></activity>
    </application>

</manifest>
